<div class="card d-flex flex-row">
    {% with image=reservation.restaurant.images.first %}
    {% if image %}
    <div class="card-img-top card-img-top-div horizontal-card-image rounded" style="background-image: url({{image.image.url}});"></div>
    {% else %}
    <div class="card-img-top card-img-top-div horizontal-card-image rounded" style="background-image: url(https://picsum.photos/200/150);"></div>
    {% endif %}
    {% endwith %}
    <div class="card-body pt-0">
        <div class="btn-group dropdown-center float-end">
            <button type="button" class="btn btn-sm dropdown-toggle btn-{{ reservation.status|reservation_status_class }}" data-bs-toggle="dropdown" aria-expanded="false">
                {{ reservation.status }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <form action="{% url "reservation_action" id=reservation.id action="cancel" %}?next={{ request.get_full_path }}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button type="submit" class="dropdown-item link-primary-small">Cancel Reservation</button>
                    </form>
                </li>
            </ul>
        </div>
        <h5 class="card-title">
            <a class="link-primary" href="{% url 'restaurant_detail' reservation.restaurant.slug %}">
                <p class="text-truncate ">
                    {{ reservation.restaurant.name }}
                </p>
            </a>
        </h5>
        <p class="fw-lighter text-truncate">
            <i class="fas fa-map-marker-alt me-2"></i>{{ reservation.restaurant.city }}
        </p>
        <p class="fw-lighter">
            {{ reservation.date }}, {{ reservation.guests }} guests
        </p>
        <p class="fw-lighter">
            Note: {{ reservation.note|truncatechars:20 }} <button type="button" class="btn btn-link btn-sm link-primary" data-bs-container="body"
                                                                  data-bs-toggle="popover" data-bs-placement="left"
                                                                  data-bs-content="{{  reservation.note }}">
            <i class="fas fa-info-circle"></i>
        </button>
        </p>
    </div>
</div>